[submodule "team_hatakeyama/1_DataPreparation/team_hatakeyama/1_DataPreparation/PMC"]
	path = team_hatakeyama/1_DataPreparation/team_hatakeyama/1_DataPreparation/PMC
	url = https://github.com/hatakeyama-llm-team/Dataset_PMC.git
